h1{
	font-size:40pt ; 
	color:#2196F3;
	font-family: "Helvetica";
	text-align:center;
	
	
}

h6{
	font-size:20pt ; 
	color:gray;
	font-family: "Helvetica";
	text-align:center;
	
}
h2{
	font-size:14pt ; 
	color:gray;
	font-family: "Helvetica";
	text-align:center;
	
}

/* Search section */

.search_Section{
	text-align:center;
	font-family: "Helvetica";	
}

.search_section_sort{
	text-align:center;
	font-family: "Helvetica";
	color:red;
}

.search_result{
	color:black;
	text-align:center;
	font-family: "Helvetica";
}

#dr_list_2,#dr_list_1{
	color:gray;
	text-align:center;
	font-family: "Helvetica";
	border-radius: 25px;
	width:200px;
}


#s_bar{
	width: 600px;
	height: 30px;
	font-size:14pt;
	align:center;
	border: 1px solid grey;
	border-radius: 25px;
	
}

.search_Section:hover #s_bar {border-color: #156aad;box-shadow: 0 0 8px #2196F3;}
.search_Section:hover #s_but {background-color: #156aad;}



#s_but{
	color:white;
	height: 35px;
	width: 100px;
	border: 1px solid grey;
	font-size:14pt;
	border-radius: 25px;
	background: #2196F3;
    cursor: pointer;
	box-shadow: 0px 6px 12px 0px rgba(0,0,0,0.2);
}

/* Search Results */


#search_table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#search_table td, #search_table th {
  border: 0px solid #ddd;
  padding: 8px;
}

#search_table tr:nth-child(even){background-color: #f2f2f2;}

#search_table tr:hover {background-color: #ddd;}

#search_table th{
	padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #2196F3;
    color: white;
	
	
	
}
/* Page bottom */
#design{
	font-size:9pt ; 
	color:white;
	font-family: "Helvetica";
	float:right;	
	padding-top: 5px;
	padding-right: 16px;
	font-weight: 550;
}
#design_copy{
	font-size:9pt ; 
	color:white;
	font-family: "Helvetica";
	float:left;	
	padding-top: 5px;
	padding-left: 16px;
	font-weight: 550;
}	

.box_lower{
	height:25px;
	width:auto;
	background-color:#2196F3;
	float:bottom;	

}

/* Page upper*/
#logo{
	font-size:21pt ; 
	color:white;
	font-family: "Helvetica";
	float:left;
	font-weight: 700;
	padding-top: 6px;
	padding-left:6px;
}

#menu{
	font-size:16pt ; 
	color:white;
	font-family: "Helvetica";
	float:right;
	font-weight: 550;
	padding-top: 10px;
	padding-left:right;
	
}

#menu:hover  {box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);}


.box_upper{
	height:25px;
	width:auto;
	padding:10px;
	margin:0px;
	border:0px;
	background-color:#2196F3;
	
}


/* Page upper - menu*/	
.dropbtn_menu {
  background-color: #2196F3;
  color: white;
  padding: 13px;
  font-size: 16px;
  border: none;
  float:center;
  font-weight: 500;
  font-family: "Helvetica";
}

.dropdown:hover .dropbtn_menu {background-color: #1d7dcc;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);}


a:link, a:visited ,a:hover, a:active {
  text-decoration: none;
  color: white;
}


/* Dropdown Button */
.dropbtn {
  background-color: red;
  color: white;
  padding: 13px;
  font-size: 16px;
  border: none;
  float:center;
  font-weight: 500;
  font-family: "Helvetica";
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  font-family: "Helvetica";
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #f00000;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);}

.image_home{
	background-image: url('src/car_home_2.jpg');
	width:auto;
	text-align:center;
}

